<div id="verify_twofactor_authentication_view" class="col-sm-10">
  <verify_twofactor_authentication_view :_current_user="<%= resource.to_json%>" :_message="<%=message.to_json%>" :_message_type="<%=message_type.to_json%>">
  </verify_twofactor_authentication_view>
</div>

<%= javascript_pack_tag 'verify_twofactor_authentication/verify_twofactor_authentication' %>