<div style="background: #fafafa;border-top: 3px solid #ff760a;text-align: center;">
  <div style="padding: 16px;"><img alt="Factz" src="<%=APP_DOMAIN%><%=asset_path('MailLogo.png')%>" width="85" height="50" class="CToWUd"></div>
  <div style="background: #fff;border: 1px solid #ededed;padding: 24px;margin-left: 15%;margin-right: 15%;">
    <div style="font-size: 18px;">Thanks for signing up to Factz!</div>
    <div style="font-size: 16px;">To get started, click the link below to confirm your account.</div>
    <p style="font-size: 18px;"><a href="<%=APP_DOMAIN%>users/confirmation?confirmation_token=<%=@token%>">Confirm your account</a></p>
  </div>
  <p>You're receiving this email because of your account on Factz.io.</p>
</div>
